In [1]:
female = """01–02 Adrasteia 21–22 Althaia 41–42 Eudoxia 61–62 Helene 81–82 Photine
03–04 Aella 23–24 Ambrosia 43–44 Eugeneia 63–64 Hypatia 83–84 Ptolemais
05–06 Agathe 25–26 Andromeda 45–46 Eulalia 65–66 Iphigeneia 85–86 Sophia
07–08 Agaue 27–28 Aristomache 47–48 Eunike 67–68 Kallisto 87–88 Sostrate
09–10 Aglaia 29–30 Artemisia 49–50 Euphemia 69–70 Kallistrate 89–90 Theodora
11–12 Akantha 31–32 Astraia 51–52 Euphrasia 71–72 Kleio 91–92 Theodosia
13–14 Alekto 33–34 Athanasia 53–54 Eupraxia 73–74 Lysistrate 93–94 Xanthe
15–16 Alexandra 35–36 Athanais 55–56 Eutropia 75–76 Pelagia 95–96 Xanthippe
17–18 Alexia 37–38 Demetria 57–58 Gaiane 77–78 Pherenike 97–98 Zenais
19–20 Alkippe 39–40 Demostrate 59–60 Galene 79–80 Phoibe 99–00 Zosime
"""

In [2]:
female_names = [x for x in female.split() if "–" not in x]
female_names.sort()
len(female_names)

50

In [3]:
female_names

['Adrasteia',
 'Aella',
 'Agathe',
 'Agaue',
 'Aglaia',
 'Akantha',
 'Alekto',
 'Alexandra',
 'Alexia',
 'Alkippe',
 'Althaia',
 'Ambrosia',
 'Andromeda',
 'Aristomache',
 'Artemisia',
 'Astraia',
 'Athanais',
 'Athanasia',
 'Demetria',
 'Demostrate',
 'Eudoxia',
 'Eugeneia',
 'Eulalia',
 'Eunike',
 'Euphemia',
 'Euphrasia',
 'Eupraxia',
 'Eutropia',
 'Gaiane',
 'Galene',
 'Helene',
 'Hypatia',
 'Iphigeneia',
 'Kallisto',
 'Kallistrate',
 'Kleio',
 'Lysistrate',
 'Pelagia',
 'Pherenike',
 'Phoibe',
 'Photine',
 'Ptolemais',
 'Sophia',
 'Sostrate',
 'Theodora',
 'Theodosia',
 'Xanthe',
 'Xanthippe',
 'Zenais',
 'Zosime']

In [4]:
with open("t152_amazon_female_names.txt", "w") as f:
    f.write("id\tname\n")
    for i, n in enumerate(female_names, start=1):
        f.write(f"{i}\t{n}\n")

In [5]:
male = """1 Agapios 11 Hesperos
2 Agathon 12 Kallias
3 Apollonios 13 Linos
4 Argyros 14 Lysandros
5 Bion 15 Photios
6 Chrysanthos 16 Simonides
7 Demetrios 17 Thales
8 Dionysios 18 Theodosios
9 Euphranor 19 Zenobios
10 Galenos 20 Zenon
"""

In [7]:
male_names = []
for n in male.split():
    try:
        int(n)
    except:
        male_names.append(n)
male_names.sort()
len(male_names)

20

In [8]:
male_names

['Agapios',
 'Agathon',
 'Apollonios',
 'Argyros',
 'Bion',
 'Chrysanthos',
 'Demetrios',
 'Dionysios',
 'Euphranor',
 'Galenos',
 'Hesperos',
 'Kallias',
 'Linos',
 'Lysandros',
 'Photios',
 'Simonides',
 'Thales',
 'Theodosios',
 'Zenobios',
 'Zenon']

In [9]:
with open("t153_amazon_male_names.txt", "w") as f:
    f.write("id\tname\n")
    for i, n in enumerate(male_names, start=1):
        f.write(f"{i}\t{n}\n")