In [2]:
female = """1 Agape
2 Agathe
3 Alexandra
4 Ambrosia
5 Aphrodisia
6 Apollonia
7 Aristomache
8 Aspasia
9 Demostrate
10 Elpis
11 Eudokia
12 Eudoxia
13 Eulalia
14 Eumelia
15 Euphemia
16 Euphrasia
17 Euthymia
18 Eutropia
19 Galene
20 Helene
1 Hypatia
2 Kallisto
3 Kallistrate
4 Kleio
5 Kleopatra
6 Korinna
7 Lysandra
8 Lysistrate
9 Pelagia
10 Phile
11 Phoibe
12 Photine
13 Ptolemais
14 Sophia
15 Sostrate
16 Timo
17 Tryphosa
18 Tycho
19 Xanthe
20 Xenia
"""

male = """1 Agapios
2 Agathon
3 Akakios
4 Alexandros
5 Alexios
6 Anakletos
7 Anatolios
8 Androkles
9 Aniketos
10 Apollonios
11 Archelaos
12 Archimedes
13 Argyros
14 Aristeides
15 Aristodemos
16 Aristokles
17 Ariston
18 Aristophanes
19 Arkadios
20 Arsenios
1 Athanasios
2 Bion
3 Demosthenes
4 Epiktetos
5 Euphemios
6 Euripides
7 Euthymios
8 Eutropios
9 Galenos
10 Gennadios
11 Heliodoros
12 Herodotos
13 Heron
14 Homeros
15 Hyginos
16 Hypatos
17 Iason
18 Kallikrates
19 Kleisthenes
20 Kleon
1 Lysandros 11 Solon
2 Paramonos 12 Sophokles
3 Pelagios 13 Sophos
4 Phaidros 14 Sosigenes
5 Philon 15 Straton
6 Phoibos 16 Themistokles
7 Photios 17 Theron
8 Platon 18 Timon
9 Praxiteles 19 Tychon
10 Ptolemaios 20 Zephyros
"""

clan = """1 Amphitrite 7 Phorkys
2 Eurybia 8 Pontos
3 Glaukos 9 Poseidon
4 Kymopoleia 10 Proteos
5 Nereos 11 Thalassa
6 Okeanos 12 Triton
"""

In [3]:
female_names = []
for n in female.split():
    try:
        int(n)
    except:
        female_names.append(n)
female_names.sort()
len(female_names)

40

In [4]:
female_names

['Agape',
 'Agathe',
 'Alexandra',
 'Ambrosia',
 'Aphrodisia',
 'Apollonia',
 'Aristomache',
 'Aspasia',
 'Demostrate',
 'Elpis',
 'Eudokia',
 'Eudoxia',
 'Eulalia',
 'Eumelia',
 'Euphemia',
 'Euphrasia',
 'Euthymia',
 'Eutropia',
 'Galene',
 'Helene',
 'Hypatia',
 'Kallisto',
 'Kallistrate',
 'Kleio',
 'Kleopatra',
 'Korinna',
 'Lysandra',
 'Lysistrate',
 'Pelagia',
 'Phile',
 'Phoibe',
 'Photine',
 'Ptolemais',
 'Sophia',
 'Sostrate',
 'Timo',
 'Tryphosa',
 'Tycho',
 'Xanthe',
 'Xenia']

In [5]:
with open("t157_atlantean_female_names.txt", "w") as f:
    f.write("id\tname\n")
    for i, n in enumerate(female_names, start=1):
        f.write(f"{i}\t{n}\n")

In [6]:
male_names = []
for n in male.split():
    try:
        int(n)
    except:
        male_names.append(n)
male_names.sort()
len(male_names)

60

In [7]:
male_names

['Agapios',
 'Agathon',
 'Akakios',
 'Alexandros',
 'Alexios',
 'Anakletos',
 'Anatolios',
 'Androkles',
 'Aniketos',
 'Apollonios',
 'Archelaos',
 'Archimedes',
 'Argyros',
 'Aristeides',
 'Aristodemos',
 'Aristokles',
 'Ariston',
 'Aristophanes',
 'Arkadios',
 'Arsenios',
 'Athanasios',
 'Bion',
 'Demosthenes',
 'Epiktetos',
 'Euphemios',
 'Euripides',
 'Euthymios',
 'Eutropios',
 'Galenos',
 'Gennadios',
 'Heliodoros',
 'Herodotos',
 'Heron',
 'Homeros',
 'Hyginos',
 'Hypatos',
 'Iason',
 'Kallikrates',
 'Kleisthenes',
 'Kleon',
 'Lysandros',
 'Paramonos',
 'Pelagios',
 'Phaidros',
 'Philon',
 'Phoibos',
 'Photios',
 'Platon',
 'Praxiteles',
 'Ptolemaios',
 'Solon',
 'Sophokles',
 'Sophos',
 'Sosigenes',
 'Straton',
 'Themistokles',
 'Theron',
 'Timon',
 'Tychon',
 'Zephyros']

In [8]:
with open("t158_atlantean_male_names.txt", "w") as f:
    f.write("id\tname\n")
    for i, n in enumerate(male_names, start=1):
        f.write(f"{i}\t{n}\n")

In [9]:
clan_names = []
for n in clan.split():
    try:
        int(n)
    except:
        clan_names.append(n)
clan_names.sort()
len(clan_names)

12

In [10]:
clan_names

['Amphitrite',
 'Eurybia',
 'Glaukos',
 'Kymopoleia',
 'Nereos',
 'Okeanos',
 'Phorkys',
 'Pontos',
 'Poseidon',
 'Proteos',
 'Thalassa',
 'Triton']

In [11]:
with open("t159_atlantean_clan_names.txt", "w") as f:
    f.write("id\tname\n")
    for i, n in enumerate(clan_names, start=1):
        f.write(f"{i}\t{n}\n")