In [1]:
female = """01–02 Áine 21–22 Echna 41–42 Luiseach 61–62 Mùirne 81–82 Saraid
03–04 Ana 23–24 Eithne 43–44 Malamhìn 63–64 Neacht 83–84 Scoth
05–06 Banbha 25–26 Étaín 45–46 Meadhbh 65–66 Neasa 85–86 Searc
07–08 Brianag 27–28 Fionúir 47–48 Meallá 67–68 Niamh 87–88 Sidheag
09–10 Bríghid 29–30 Geiléis 49–50 Mòr 69–70 Órlaith 89–90 Síomha
11–12 Ceana 31–32 Gràinne 51–52 Mòrag 71–72 Osnait 91–92 Slàinte
13–14 Ceara 33–34 Laoise 53–54 Mordag 73–74 Ríona 93–94 Sorcha
15–16 Ciar 35–36 Líadan 55–56 Muireall 75–76 Róinseach 95–96 Treasa
17–18 Dáirine 37–38 Liamhain 57–58 Muireann 77–78 Róisín 97–98 Tuathla
19–20 Ealadha 39–40 Líobhan 59–60 Muirín 79–80 Ròs 99–00 Úna
"""

male = """01–02 Ailill 21–22 Camran 41–42 Curnán 61–62 Lachlann 81–82 Orthanach
03–04 Aodh 23–24 Cassair 43–44 Deaglán 63–64 Lasair 83–84 Ríordán
05–06 Artagan 25–26 Cathal 45–46 Donnan 65–66 Lonán 85–86 Rònan
07–08 Artair 27–28 Cian 47–48 Dubhagan 67–68 Maon 87–88 Ross
09–10 Bardán 29–30 Cillian 49–50 Dùghall 69–70 Mochta 89–90 Ruarc
11–12 Bearach 31–32 Conall 51–52 Finnean 71–72 Morann 91–92 Scannlán
13–14 Bran 33–34 Conan 53–54 Fionn 73–74 Muireach 93–94 Seanán
15–16 Brion 35–36 Conn 55–56 Flann 75–76 Niall 95–96 Sionn
17–18 Brocc 37–38 Corc 57–58 Gòrdan 77–78 Ógán 97–98 Taran
19–20 Brógán 39–40 Cormac 59–60 Gormal 79–80 Onchú 99–00 Torcán
"""

In [2]:
female_names = [x for x in female.split() if "–" not in x]
female_names.sort()
len(female_names)

50

In [3]:
female_names

['Ana',
 'Banbha',
 'Brianag',
 'Bríghid',
 'Ceana',
 'Ceara',
 'Ciar',
 'Dáirine',
 'Ealadha',
 'Echna',
 'Eithne',
 'Fionúir',
 'Geiléis',
 'Gràinne',
 'Laoise',
 'Liamhain',
 'Luiseach',
 'Líadan',
 'Líobhan',
 'Malamhìn',
 'Meadhbh',
 'Meallá',
 'Mordag',
 'Muireall',
 'Muireann',
 'Muirín',
 'Mòr',
 'Mòrag',
 'Mùirne',
 'Neacht',
 'Neasa',
 'Niamh',
 'Osnait',
 'Ríona',
 'Ròs',
 'Róinseach',
 'Róisín',
 'Saraid',
 'Scoth',
 'Searc',
 'Sidheag',
 'Slàinte',
 'Sorcha',
 'Síomha',
 'Treasa',
 'Tuathla',
 'Áine',
 'Étaín',
 'Órlaith',
 'Úna']

In [4]:
female_names = [
    'Áine',
    'Ana',
 'Banbha',
 'Brianag',
 'Bríghid',
 'Ceana',
 'Ceara',
 'Ciar',
 'Dáirine',
 'Ealadha',
 'Echna',
 'Eithne',
 'Étaín',
 'Fionúir',
 'Geiléis',
 'Gràinne',
 'Laoise',
 'Liamhain',
 'Luiseach',
 'Líadan',
 'Líobhan',
 'Malamhìn',
 'Meadhbh',
 'Meallá',
 'Mordag',
 'Muireall',
 'Muireann',
 'Muirín',
 'Mòr',
 'Mòrag',
 'Mùirne',
 'Neacht',
 'Neasa',
 'Niamh',
 'Órlaith',
 'Osnait',
 'Ríona',
 'Ròs',
 'Róinseach',
 'Róisín',
 'Saraid',
 'Scoth',
 'Searc',
 'Sidheag',
 'Slàinte',
 'Sorcha',
 'Síomha',
 'Treasa',
 'Tuathla',
 'Úna',
]

In [5]:
with open("t170_keltic_female_names.txt", "w") as f:
    f.write("id\tname\n")
    for i, n in enumerate(female_names, start=1):
        f.write(f"{i}\t{n}\n")

In [6]:
male_names = [x for x in male.split() if "–" not in x]
male_names.sort()
len(male_names)

50

In [7]:
male_names

['Ailill',
 'Aodh',
 'Artagan',
 'Artair',
 'Bardán',
 'Bearach',
 'Bran',
 'Brion',
 'Brocc',
 'Brógán',
 'Camran',
 'Cassair',
 'Cathal',
 'Cian',
 'Cillian',
 'Conall',
 'Conan',
 'Conn',
 'Corc',
 'Cormac',
 'Curnán',
 'Deaglán',
 'Donnan',
 'Dubhagan',
 'Dùghall',
 'Finnean',
 'Fionn',
 'Flann',
 'Gormal',
 'Gòrdan',
 'Lachlann',
 'Lasair',
 'Lonán',
 'Maon',
 'Mochta',
 'Morann',
 'Muireach',
 'Niall',
 'Onchú',
 'Orthanach',
 'Ross',
 'Ruarc',
 'Ríordán',
 'Rònan',
 'Scannlán',
 'Seanán',
 'Sionn',
 'Taran',
 'Torcán',
 'Ógán']

In [8]:
male_names = [
'Ailill',
 'Aodh',
 'Artagan',
 'Artair',
 'Bardán',
 'Bearach',
 'Bran',
 'Brion',
 'Brocc',
 'Brógán',
 'Camran',
 'Cassair',
 'Cathal',
 'Cian',
 'Cillian',
 'Conall',
 'Conan',
 'Conn',
 'Corc',
 'Cormac',
 'Curnán',
 'Deaglán',
 'Donnan',
 'Dubhagan',
 'Dùghall',
 'Finnean',
 'Fionn',
 'Flann',
 'Gormal',
 'Gòrdan',
 'Lachlann',
 'Lasair',
 'Lonán',
 'Maon',
 'Mochta',
 'Morann',
 'Muireach',
 'Niall',
 'Ógán',
 'Onchú',
 'Orthanach',
 'Ross',
 'Ruarc',
 'Ríordán',
 'Rònan',
 'Scannlán',
 'Seanán',
 'Sionn',
 'Taran',
 'Torcán',
 ]

In [9]:
with open("t171_keltic_male_names.txt", "w") as f:
    f.write("id\tname\n")
    for i, n in enumerate(male_names, start=1):
        f.write(f"{i}\t{n}\n")