In [6]:
female = """01–04 Aisha
05–08 Amena
09–12 Baya
13–16 Hadada
17–20 Illi
21–24 Kahina
25–28 Kella
29–32 Lella
33–36 Lemta
37–40 Lundja
41–44 Markunda
45–48 Muli
49–52 Rayshabu
53–56 Safiyya
57–60 Sekkura
61–64 Tanelhir
65–68 Tanloubouh
69–72 Thula
73–76 Tintfsut
77–80 Tioueyin
81–84 Tuftifawt
85–88 Tufent
89–92 Wertenezzu
93–96 Zegiga
97–00 Zahara
"""

male = """1 Ahmedu 11 Dassin 21 Munatas
2 Amergiw 12 Ehenkouen 22 Sidi
3 Antal 13 Ehenu 23 Sufian
4 Asmil 14 Idir 24 Tariq
5 Azawakh 15 Ilou 25 Udad
6 Aziouel 16 Izil 26 Wagguten
7 Baragsen 17 Khyar 27 Yabdas
8 Beddis 18 Lamine 28 Yuba
9 Bekketa 19 Masgaba 29 Yugerten
10 Brahim 20 Massena 30 Ziri
"""

In [2]:
female_names = [x for x in female.split() if "–" not in x]
# female_names.sort()
len(female_names)

25

In [3]:
female_names

['Aisha',
 'Amena',
 'Baya',
 'Hadada',
 'Illi',
 'Kahina',
 'Kella',
 'Lella',
 'Lemta',
 'Lundja',
 'Markunda',
 'Muli',
 'Rayshabu',
 'Safiyya',
 'Sekkura',
 'Tanelhir',
 'Tanloubouh',
 'Thula',
 'Tintfsut',
 'Tioueyin',
 'Tuftifawt',
 'Tufent',
 'Wertenezzu',
 'Zegiga',
 'Zahara']

In [4]:
with open("t182_moorish_female_names.txt", "w") as f:
    f.write("id\tname\n")
    for i, n in enumerate(female_names, start=1):
        f.write(f"{i}\t{n}\n")

In [7]:
male_names = []
for n in male.split():
    try:
        int(n)
    except:
        male_names.append(n)
male_names.sort()
len(male_names)

30

In [8]:
male_names

['Ahmedu',
 'Amergiw',
 'Antal',
 'Asmil',
 'Azawakh',
 'Aziouel',
 'Baragsen',
 'Beddis',
 'Bekketa',
 'Brahim',
 'Dassin',
 'Ehenkouen',
 'Ehenu',
 'Idir',
 'Ilou',
 'Izil',
 'Khyar',
 'Lamine',
 'Masgaba',
 'Massena',
 'Munatas',
 'Sidi',
 'Sufian',
 'Tariq',
 'Udad',
 'Wagguten',
 'Yabdas',
 'Yuba',
 'Yugerten',
 'Ziri']

In [9]:
with open("t183_moorish_male_names.txt", "w") as f:
    f.write("id\tname\n")
    for i, n in enumerate(male_names, start=1):
        f.write(f"{i}\t{n}\n")