In [2]:
female = """1 Ayta’da
2 Kaskilaana
3 Künney
4 Lur
5 Nariyanaa
6 Nyur’da
7 Saskulaana
8 Saya’da
9 Sayii’da
10 Tuskulaana
11 Tuya’da
12 Uruy’da
"""

male = """1 Ayaal-xu
2 Aysen-xu
3 Aytalanu
4 Elleyanu
5 Karak-xu
6 Kaskil
7 Michilanu
8 Nyurganu
9 Sirk-xu
10 Tibur
11 Uygulaan
12 Yodin
"""

In [3]:
female_names = []
for n in female.split():
    try:
        int(n)
    except:
        female_names.append(n)
len(female_names)

12

In [4]:
female_names

['Ayta’da',
 'Kaskilaana',
 'Künney',
 'Lur',
 'Nariyanaa',
 'Nyur’da',
 'Saskulaana',
 'Saya’da',
 'Sayii’da',
 'Tuskulaana',
 'Tuya’da',
 'Uruy’da']

In [5]:
with open("t195_yakut_female_names.txt", "w") as f:
    f.write("id\tname\n")
    for i, n in enumerate(female_names, start=1):
        f.write(f"{i}\t{n}\n")

In [6]:
male_names = []
for n in male.split():
    try:
        int(n)
    except:
        male_names.append(n)
len(male_names)

12

In [7]:
male_names

['Ayaal-xu',
 'Aysen-xu',
 'Aytalanu',
 'Elleyanu',
 'Karak-xu',
 'Kaskil',
 'Michilanu',
 'Nyurganu',
 'Sirk-xu',
 'Tibur',
 'Uygulaan',
 'Yodin']

In [8]:
with open("t196_yakut_male_names.txt", "w") as f:
    f.write("id\tname\n")
    for i, n in enumerate(male_names, start=1):
        f.write(f"{i}\t{n}\n")