In [1]:
female = """01–02 Agaue 21–22 Arete 41–42 Galatea 61–62 Laodike 81–82 Phyllis
03–04 Airope 23–24 Artemidora 43–44 Gorgo 63–64 Ligeia 83–84 Polydamna
05–06 Aithra 25–26 Auge 45–46 Halia 65–66 Marpessa 85–86 Polyxena
07–08 Alkestis 27–28 Charikleia 47–48 Harmodios 67–68 Megæra 87–88 Rhoxane
09–10 Alkippe 29–30 Deianeira 49–50 Iphimedeia 69–70 Olympias 89–90 Sostrate
11–12 Alkmene 31–32 Diomede 51–52 Kalypso 71–72 Pasiphæ 91–92 Telephassa
13–14 Amphithoe 33–34 Dorothea 53–54 Kharmion 73–74 Perialla 93–94 Xanthe
15–16 Amphitrite 35–36 Dynamene 55–56 Khryseis 75–76 Phaidra 95–96 Xanthippe
17–18 Antheia 37–38 Eidothea 57–58 Khyrse 77–78 Pherenike 97–98 Xene
19–20 Antiochis 39–40 Eunike 59–60 Klymene 79–80 Philomela 99–00 Zosime
"""

male = """01–02 Agathokles 21–22 Daphnis 41–42 Heron 61–62 Menekrates 81–82 Ptolemaios
03–04 Agenor 23–24 Demoleon 43–44 Hippasos 63–64 Nikandros 83–84 Sophokles
05–06 Aietes 25–26 Epaphroditos 45–46 Iason 65–66 Onesimos 85–86 Telamon
07–08 Akrisios 27–28 Eudoxos 47–48 Isagoras 67–68 Orsilochos 87–88 Telesphoros
09–10 Antichares 29–30 Eugammon 49–50 Kleitos 69–70 Panetios 89–90 Thales
11–12 Antiochos 31–32 Eumastas 51–52 Kleomenes 71–72 Phalanthos 91–92 Theognis
13–14 Antisthenes 33–34 Eumenes 53–54 Kynægeiros 73–74 Phegeus 93–94 Thrasyboulos
15–16 Bion 35–36 Euonomos 55–56 Leukippos 75–76 Philokles 95–96 Tros
17–18 Chrestos 37–38 Euthydemos 57–58 Lycophron 77–78 Philon 97–98 Xenokrates
19–20 Damoetas 39–40 Galenos 59–60 Melas 79–80 Polyneikes 99–00 Zotikos
"""

In [2]:
female_names = [x for x in female.split() if "–" not in x]
female_names.sort()
len(female_names)

50

In [3]:
female_names

['Agaue',
 'Airope',
 'Aithra',
 'Alkestis',
 'Alkippe',
 'Alkmene',
 'Amphithoe',
 'Amphitrite',
 'Antheia',
 'Antiochis',
 'Arete',
 'Artemidora',
 'Auge',
 'Charikleia',
 'Deianeira',
 'Diomede',
 'Dorothea',
 'Dynamene',
 'Eidothea',
 'Eunike',
 'Galatea',
 'Gorgo',
 'Halia',
 'Harmodios',
 'Iphimedeia',
 'Kalypso',
 'Kharmion',
 'Khryseis',
 'Khyrse',
 'Klymene',
 'Laodike',
 'Ligeia',
 'Marpessa',
 'Megæra',
 'Olympias',
 'Pasiphæ',
 'Perialla',
 'Phaidra',
 'Pherenike',
 'Philomela',
 'Phyllis',
 'Polydamna',
 'Polyxena',
 'Rhoxane',
 'Sostrate',
 'Telephassa',
 'Xanthe',
 'Xanthippe',
 'Xene',
 'Zosime']

In [4]:
with open("t163_greek_female_names.txt", "w") as f:
    f.write("id\tname\n")
    for i, n in enumerate(female_names, start=1):
        f.write(f"{i}\t{n}\n")

In [5]:
male_names = [x for x in male.split() if "–" not in x]
male_names.sort()
len(male_names)

50

In [6]:
male_names

['Agathokles',
 'Agenor',
 'Aietes',
 'Akrisios',
 'Antichares',
 'Antiochos',
 'Antisthenes',
 'Bion',
 'Chrestos',
 'Damoetas',
 'Daphnis',
 'Demoleon',
 'Epaphroditos',
 'Eudoxos',
 'Eugammon',
 'Eumastas',
 'Eumenes',
 'Euonomos',
 'Euthydemos',
 'Galenos',
 'Heron',
 'Hippasos',
 'Iason',
 'Isagoras',
 'Kleitos',
 'Kleomenes',
 'Kynægeiros',
 'Leukippos',
 'Lycophron',
 'Melas',
 'Menekrates',
 'Nikandros',
 'Onesimos',
 'Orsilochos',
 'Panetios',
 'Phalanthos',
 'Phegeus',
 'Philokles',
 'Philon',
 'Polyneikes',
 'Ptolemaios',
 'Sophokles',
 'Telamon',
 'Telesphoros',
 'Thales',
 'Theognis',
 'Thrasyboulos',
 'Tros',
 'Xenokrates',
 'Zotikos']

In [7]:
with open("t164_greek_male_names.txt", "w") as f:
    f.write("id\tname\n")
    for i, n in enumerate(male_names, start=1):
        f.write(f"{i}\t{n}\n")