In [1]:
female = """1 Agape
2 Agathe
3 Alexandra
4 Aristomache
5 Aspasia
6 Athanasia
7 Chrysanthe
8 Demostrate
9 Elpis
10 Euanthe
11 Eudokia
12 Eudoxia
13 Eulalia
14 Eunike
15 Euphemia
16 Euphrasia
17 Euthalia
18 Euthymia
19 Eutropia
20 Galene
1 Helene
2 Hypatia
3 Kallisto
4 Kallistrate
5 Kleopatra
6 Korinna
7 Lysandra
8 Lysistrate
9 Phoibe
10 Photine
11 Ptolemais
12 Sappho
13 Sophia
14 Sostrate
15 Syntyche
16 Timo
17 Tryphosa
18 Xenia
19 Xeno
20 Zosime
"""

male = """1 Agathon
2 Alexandros
3 Alexios
4 Anakletos
5 Andronikos
6 Antigonos
7 Archippos
8 Aristeides
9 Aristokles
10 Ariston
11 Drakon
12 Eukleides
13 Euphemios
14 Galenos
15 Heliodoros
16 Herakleides
17 Herodotos
18 Heron
19 Hippolytos
20 Iason
1 Kleon
2 Krimmos
3 Leonidas
4 Lykos
5 Lysandros
6 Nikandros
7 Nikephoros
8 Nikomedes
9 Pantheras
10 Paramonos
11 Photios
12 Platon
13 Pyrrhos
14 Sokrates
15 Sophokles
16 Straton
17 Theron
18 Tychon
19 Xenokrates
20 Zotikos
"""

In [2]:
female_names = []
for n in female.split():
    try:
        int(n)
    except:
        female_names.append(n)
len(female_names)

40

In [3]:
female_names

['Agape',
 'Agathe',
 'Alexandra',
 'Aristomache',
 'Aspasia',
 'Athanasia',
 'Chrysanthe',
 'Demostrate',
 'Elpis',
 'Euanthe',
 'Eudokia',
 'Eudoxia',
 'Eulalia',
 'Eunike',
 'Euphemia',
 'Euphrasia',
 'Euthalia',
 'Euthymia',
 'Eutropia',
 'Galene',
 'Helene',
 'Hypatia',
 'Kallisto',
 'Kallistrate',
 'Kleopatra',
 'Korinna',
 'Lysandra',
 'Lysistrate',
 'Phoibe',
 'Photine',
 'Ptolemais',
 'Sappho',
 'Sophia',
 'Sostrate',
 'Syntyche',
 'Timo',
 'Tryphosa',
 'Xenia',
 'Xeno',
 'Zosime']

In [4]:
with open("t172_kimmerian_female_names.txt", "w") as f:
    f.write("id\tname\n")
    for i, n in enumerate(female_names, start=1):
        f.write(f"{i}\t{n}\n")

In [5]:
male_names = []
for n in male.split():
    try:
        int(n)
    except:
        male_names.append(n)
len(male_names)

40

In [6]:
male_names

['Agathon',
 'Alexandros',
 'Alexios',
 'Anakletos',
 'Andronikos',
 'Antigonos',
 'Archippos',
 'Aristeides',
 'Aristokles',
 'Ariston',
 'Drakon',
 'Eukleides',
 'Euphemios',
 'Galenos',
 'Heliodoros',
 'Herakleides',
 'Herodotos',
 'Heron',
 'Hippolytos',
 'Iason',
 'Kleon',
 'Krimmos',
 'Leonidas',
 'Lykos',
 'Lysandros',
 'Nikandros',
 'Nikephoros',
 'Nikomedes',
 'Pantheras',
 'Paramonos',
 'Photios',
 'Platon',
 'Pyrrhos',
 'Sokrates',
 'Sophokles',
 'Straton',
 'Theron',
 'Tychon',
 'Xenokrates',
 'Zotikos']

In [7]:
with open("t173_kimmerian_male_names.txt", "w") as f:
    f.write("id\tname\n")
    for i, n in enumerate(male_names, start=1):
        f.write(f"{i}\t{n}\n")