In [1]:
female = """1 Ádá 11 Inger
2 Aliissá 12 Meret
3 Amándá 13 Mimmi
4 Ásta 14 Niná
5 Elle 15 Olgá
6 Evá 16 Ristiinna
7 Florá 17 Sonjá
8 Gunná 18 Sussu
9 Helená 19 Unni
10 Helgá 20 Venlá
"""

male = """1 Ággi 11 Hugo
2 Ámmon 12 Ivvar
3 Ávgos 13 Jonás
4 Bihto 14 Lágon
5 Dávgon 15 Morte
6 Duomis 16 Niikko
7 Einár 17 Otto
8 Guivi 18 Sabba
9 Hegon 19 Viktor
10 Holger 20 Volbmar
"""

In [2]:
female_names = []
for n in female.split():
    try:
        int(n)
    except:
        female_names.append(n)
female_names.sort()
len(female_names)

20

In [3]:
female_names

['Aliissá',
 'Amándá',
 'Elle',
 'Evá',
 'Florá',
 'Gunná',
 'Helená',
 'Helgá',
 'Inger',
 'Meret',
 'Mimmi',
 'Niná',
 'Olgá',
 'Ristiinna',
 'Sonjá',
 'Sussu',
 'Unni',
 'Venlá',
 'Ádá',
 'Ásta']

In [4]:
female_names = [
    'Ádá',
    'Aliissá',
 'Amándá',
 'Ásta',
 'Elle',
 'Evá',
 'Florá',
 'Gunná',
 'Helená',
 'Helgá',
 'Inger',
 'Meret',
 'Mimmi',
 'Niná',
 'Olgá',
 'Ristiinna',
 'Sonjá',
 'Sussu',
 'Unni',
 'Venlá',
]

In [5]:
with open("t176_lapp_female_names.txt", "w") as f:
    f.write("id\tname\n")
    for i, n in enumerate(female_names, start=1):
        f.write(f"{i}\t{n}\n")

In [6]:
male_names = []
for n in male.split():
    try:
        int(n)
    except:
        male_names.append(n)
male_names.sort()
len(male_names)

20

In [7]:
male_names

['Bihto',
 'Duomis',
 'Dávgon',
 'Einár',
 'Guivi',
 'Hegon',
 'Holger',
 'Hugo',
 'Ivvar',
 'Jonás',
 'Lágon',
 'Morte',
 'Niikko',
 'Otto',
 'Sabba',
 'Viktor',
 'Volbmar',
 'Ággi',
 'Ámmon',
 'Ávgos']

In [8]:
male_names = [
    'Ággi',
 'Ámmon',
 'Ávgos',
    'Bihto',
 'Duomis',
 'Dávgon',
 'Einár',
 'Guivi',
 'Hegon',
 'Holger',
 'Hugo',
 'Ivvar',
 'Jonás',
 'Lágon',
 'Morte',
 'Niikko',
 'Otto',
 'Sabba',
 'Viktor',
 'Volbmar',
]

In [9]:
with open("t177_lapp_male_names.txt", "w") as f:
    f.write("id\tname\n")
    for i, n in enumerate(male_names, start=1):
        f.write(f"{i}\t{n}\n")